.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 21px 0 21px;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
