.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-gray);
  border-radius: 20px;
  min-width: 403px;
  min-height: 182px;
  color: var(--primary-color);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  max-width: 291px;
  margin: 0;
  font-size: 0.95rem;
  font-weight: var(--bold);
  text-align: center;
}

.years {
  margin: 0;
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: var(--secondary-color);;
}

@media screen and (max-width: 440px) {
  .container {
    min-width: 100%;
  }
}
