.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #262626;
  border-radius: 20px;
  min-width: 403px;
  min-height: 182px;
  color: #cdcdcd;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  max-width: 291px;
  margin: 0;
  font-size: 0.95rem;
  font-weight: 700;
  text-align: center;
}

.years {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
  color: #ff8400;
}

@media screen and (max-width: 440px) {
  .container {
    min-width: 100%;
  }
}
