.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  max-width: 291px;
  margin: 0;
  font-size: 0.95rem;
  font-weight: var(--bold);
  text-align: center;
}

.years {
  margin: 0;
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: var(--secondary-color);
}
