.container {
  background-color: var(--color-gray);
  border-radius: 20px;
  min-width: 199px;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.label {
  color: var(--primary-color);
  font-size: 0.95rem;
  font-weight: var(--bold);
}

.value {
  font-size: 2.2rem;
  font-weight: var(--bold);
  color: var(--secondary-color);;
}

@media screen and (max-width: 440px) {
  .container {
    min-width: 100%;
  }
}
