.container {
  background-color: #262626;
  border-radius: 20px;
  min-width: 199px;
  min-height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.label {
  color: #cdcdcd;
  font-size: 0.95rem;
    font-weight: 700;
}

.button {
  all: unset;
  font-size: 2.2rem;
  font-weight: 800;
  color: #000000;
  background-color: #ff8400;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 3px;
  height: 40%;
  border-radius: 20px;
}
.button::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 40%;
  height: 3px;
  border-radius: 20px;
}
