.container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;

  background: #ff8401;
  border-radius: 20px 20px 0 0;
  min-width: 403px;
  min-height: 127px;
  color: var(--color-black);

  flex-shrink: 0;
}

.info {
  padding: 34px 0 0 25px;
}

.name {
  position: relative;
  margin: 0;
  font-size: 1.5rem;
  font-weight: var(--bold);
}

.name::after {
  content: "©";
  position: absolute;
  font-size: 0.9rem;
}

.divider {
  border: unset;
  width: 100%;
  height: 3px;
  background: var(--color-black);
}

.info:nth-child(3) {
  padding-right: 25px;
  padding-top: 0;
  margin: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.designed,
.developed {
  margin: 0;
  font-size: 0.79rem;
  font-weight: var(--semi-bold);;
}

@media screen and (max-width: 440px) {
  .container {
    min-width: 100%;
  }

  .designed,
  .developed {
    font-size: 0.7rem;
  }
}
