.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color-gray);
  border-radius: 20px;
  min-width: 403px;
  min-height: 182px;
  color: var(--primary-color);
}

@media screen and (max-width: 440px) {
  .container {
    min-width: 100%;
  }
}
